<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Pedido</title>
    <link rel="stylesheet" href="static/styles/apartado_pedido.css">
</head>
<body>

    <h1>📋 ¡Hola, bienvenido al sistema de pedidos!</h1>
    <p>Desde aquí podrás registrar pedidos de tiendas.</p>

    <button class="boton-pedido" onclick="irA('/realizar_pedido')">🛒 Realizar pedido</button>

    <!-- Botón cerrar sesión -->
    <button id="btnCerrarSesion" class="btn btn-danger">🚪 Cerrar Sesión</button>

    <script src="static/js/apartado_pedido.js"></script>

</body>
</html>