<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Lesvin</title>
    <link rel="stylesheet" href="static/styles/apartado_vendedor.css">
</head>
<body>

    <h1>👋 ¡Hola Lesvin!</h1>

    <button class="boton-vendedor" onclick="irA('/inventario_carro')">🚚 Ver Inventario del Carro</button>

    <!-- Botón cerrar sesión -->
    <button id="btnCerrarSesion" class="btn btn-danger">🚪 Cerrar Sesión</button>

    <script src="static/js/apartado_vendedor.js"></script>

</body>
</html>