<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="stylesheet" href="static/styles/apartado_admin.css">
</head>
<body>

    <h1>👋 ¡Hola Administrador!</h1>
    <p>¿Qué desea realizar el día de hoy?</p>

    <button class="boton-admin" onclick="irA('/inventario_mayor')">📦 Ver Inventario Mayor</button>
    <button class="boton-admin" onclick="irA('/ver_inventarios_carros')">🚚 Ver Inventarios de los Carros</button>
    <button class="boton-admin" onclick="irA('/ver_notificaciones')">🔔 Ver Notificaciones</button>

    <!-- Botón cerrar sesión -->
    <button id="btnCerrarSesion" class="btn btn-danger">🚪 Cerrar Sesión</button>

    <script src="static/js/apartado_admin.js"></script>

</body>
</html>