<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones Vendedor 1</title>
    <link rel="stylesheet" href="/static/styles/notificaciones.css">
</head>
<body>
    <h1>Notificaciones de las acciones realizadas por Lesvin</h1>
    <p>Seleccione la notificación que desea ver:</p>

    <button id="btnEntrada" class="boton-notificacion">📥 Ver Entradas de Productos</button>
    <button id="btnVenta" class="boton-notificacion">🛒 Ver Ventas de Productos</button>

    <a href="/ver_notificaciones" class="boton-volver">Volver</a>

    <script src="/static/js/notificaciones.js"></script>
</body>
</html>