<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Inventarios de Carros</title>
    <link rel="stylesheet" href="/static/styles/ver_inventarios_carros.css">
</head>
<body>

    <h1>🚚 Inventarios de los Carros</h1>
    <p>Seleccione el inventario del carro que desea ver:</p>

    <button class="boton-carro" onclick="irA('/inventario_carro')">🚛 Ver Inventario del Carro 1</button>
    <button class="boton-carro" onclick="irA('/inventario_carro2')">🚚 Ver Inventario del Carro 2</button>
    <!-- Botón Regresar al Panel -->
    <button id="btnRegresarPanel" class="btn btn-info my-3">🔙 Regresar al Panel</button>

    <script src="/static/js/ver_inventarios_carros.js"></script>

</body>
</html>