<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Notificaciones</title>
    <link rel="stylesheet" href="/static/styles/ver_notificaciones.css">
</head>
<body>
    
    <h1>🔔 Notificaciones de las acciones realizadas por vendedores</h1>
    <p>Seleccione la notificación que desea ver:</p>

    <button class="btn" id="btnVendedor1">🔔 Ver Notificaciones del Vendedor 1</button>
    <button class="btn" id="btnVendedor2">🔔 Ver Notificaciones del Vendedor 2</button>

    <button id="btnRegresarPanel" class="btn btn-info my-3">🔙 Regresar al Panel</button>
    
    <script src="/static/js/ver_notificaciones.js"></script>
</body>
</html>